body {
    background: black;
    background-image: url(../images/amarok_oscuro.ico);
    image-rendering: auto;
    background-repeat: space;
}

.container {
  height: calc(100vh - 20px); /* 100% del viewport height menos 20px de margen arriba y abajo */
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.login-container form {
  margin-bottom: 20px;
}
.login-container form input[type="text"],
.login-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container form button {
  width: 100%;
}