*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body-agregar-pedido {
    z-index: -1;
}

.encabezadoframe {
    z-index: 5 !important;
}

.nueva{
    margin-left: 15px;
}

.opcven{
    float: right;   
    margin-right: 25px;
    height: 35px;
    text-align: center;
    color: black !important;
}



#div-destino{
    display: inline-block;
}

.ciu{
    margin-top: 50px;
}

/* CONTIENE TODO, TABLA, CLIENTE, PRODUCTO E INFO DE VENTA */

.contenedor-de-todo {
    background-color: transparent;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
}

/* COSAS DEL APARTADO PARA EL CLIENTE */

.contenedor-cli-val-pro {
    display: flex;
    color: aliceblue;
    font-weight: bold;
    border: 2px solid aliceblue;
    background-color: #333;
    font-size: 15px;    
}

.contenedor-cliente {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 3px solid aliceblue;
}

.input-cliente {
    background-color: aliceblue;
    border: 1px solid black;
}

/* CONTENEDOR DE LA INFO DE LA VENTA */

.contenedor-valor-venta {
    border-left: 3px solid aliceblue;
}

/* CONTENEDOR DE LA INFO DEL PRODUCTO */

#mostrar-mensaje-producto {
    color: red;
}

#mostrar-mensaje-cantidad {
    margin-left: 2%;
    color: red;
}


.label-id-oculto{
    display: none;
}


/* .border-span {
    margin: 100px 0 !important;
}  */

.mas{
    float: right;
    margin-right: 8%;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.reinicar {
    float: right;
    margin-right: 2%;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    border: solid 1px aliceblue;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nom {
    width: 75%;
    font-size: 14px;
}

.model, .valpar{
    width: 150px;
}

/* TABLA DE LOS PRODUCTOS SELECIONADOS */

.tabla-venta thead tr th {
    border-color: #454d55;
    border: 2px solid #454d55;
}

.tabla-venta tbody tr td {
    border: 2px solid black;
    text-align: center;
}

.tabla-venta {
    background-color: #333;
    border-collapse: collapse;
    margin-top: 5px;
}

.encabezado-tabla tr th{
    color: white;
    background-color: #343a40;
}

.cuerpo-tabla tr td{
    background-color: #333;
    color: aliceblue;
}

.producto-nombre {
    text-align: left !important;
    font-weight: bold;
}

.pie-tabla {
    color: white;
}

.idpro, .total-compra{
    color: ghostwhite !important;
    background-color: #333 !important;
}

.cantiTotal {
    text-align: center;
}

.precio-total-footer-tabla{
    padding-left: 6%;
}

/* PEDIDO NUEVO: CUADRO DEL CENTRO */

.select-cuadro-centro {
    width: 75%;
}

.tr-cuadro-izquierdo{
    margin: 5px;
}

.input-conte-izqui {
    width: 70%;
    background-color: aliceblue;
}
