@page "/"

<PageTitle>Inicio</PageTitle>

<AppBarSecundario></AppBarSecundario>
<Banner></Banner>

<h3 class="text-center" style="font-weight: bold; margin-top: 20px;">NOTICIAS</h3>
<div class="d-flex justify-content-center mt-3">
    <div class="d-flex justify-content-center" style="width: 90%; height: auto;">
        <GridNoticias></GridNoticias>
    </div>
</div>
<div class="d-flex flex-column align-center mb-4 mt-4">
    <MudPagination Size="Size.Large" Variant="Variant.Filled" Color="Color.Dark" Count="6" />
</div>
<hr class="mx-5 mt-5" />
<h3 class="text-center" style="font-weight: bold; margin-top: 30px;">EQUIPOS DESARROLLADOS</h3>
<div class="d-flex justify-content-center mt-5">
    <div class="d-flex justify-content-center" style="width: 90%; height: auto;">
        <SliderEquipos></SliderEquipos>
    </div>
</div>


