<MudDialog Style="margin-top: 31px">
    <DialogContent>
        <div>
            <MudTextField @bind-Value="_string" Label="Ingrese el texto a buscar" Variant="Variant.Text"
                          Clearable="true" Adornment="Adornment.End"
                          AdornmentIcon="@Icons.Custom.Brands.MudBlazor"
                          AdornmentColor="Color.Primary" Immediate="true" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Buscar</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private MudDialogInstance? MudDialog { get; set; }

    private void Submit() => MudDialog!.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog!.Cancel();

    string? _string;
}