<!-- En tu componente Blazor (.razor) -->
<footer class="footer" style="background-color: rgb(10, 28, 83); color: whitesmoke; opacity: 0.95; margin-top: -16px;">
    <div class="container text-center">
        <div class="col-md-3 mx-auto pt-2">
            <ul class="list-unstyled">
                <li><a class="afooter" style="font-weight: bold" href="">Inicio</a></li>
                <li><a class="afooter" style="font-weight: bold" href="#">Nosotros</a></li>
                <li><a class="afooter" style="font-weight: bold" href="#">Contáctenos</a></li>
                <li><a class="afooter" style="font-weight: bold" href="registration">Registro</a></li>
            </ul>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="h5footer">SERVICIOS</h5>
                <ul class="list-unstyled">
                    <li><a class="afooter" href="#">Enlace 1</a></li>
                    <li><a class="afooter" href="#">Enlace 2</a></li>
                    <li><a class="afooter" href="#">Enlace 3</a></li>
                    <li><a class="afooter" href="#">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="h5footer">TECNOLOGÍA</h5>
                <ul class="list-unstyled">
                    <li><a class="afooter" href="#">Enlace 1</a></li>
                    <li><a class="afooter" href="#">Enlace 2</a></li>
                    <li><a class="afooter" href="#">Enlace 3</a></li>
                    <li><a class="afooter" href="#">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="h5footer">MET&FLU</h5>
                <ul class="list-unstyled">
                    <li><a class="afooter" href="#">Enlace 1</a></li>
                    <li><a class="afooter" href="#">Enlace 2</a></li>
                    <li><a class="afooter" href="#">Enlace 3</a></li>
                    <li><a class="afooter" href="#">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="h5footer">INF.RTE-ESAL</h5>
                <ul class="list-unstyled">
                    <li><a class="afooter" href="#">Enlace 1</a></li>
                    <li><a class="afooter" href="#">Enlace 2</a></li>
                    <li><a class="afooter" href="#">Enlace 3</a></li>
                    <li><a class="afooter" href="#">Enlace 4</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <MudImage Src="/images/logotipo-cdt.png" Alt="Logo cdt" Elevation="0" Class="rounded-lg" 
                      Width="160" Height="140" Style="opacity: 0.7;" />
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-md-3 mx-auto">
                <p>Carrera 23 No. 106-48</p>
                <p class="pfooter">Sede administrativa - Barrio Provenza, Bucaramanga</p>
                <p class="pfooter">Tel: (+57) 3123505221</p>
                <p class="pfooter">administrador@cdtdegas.com</p>
            </div>
            <div class="col-md-3 mx-auto d-inline-block">
                <!-- Aquí van los enlaces de redes sociales -->
                <ul class="social-icons list-unstyled">
                    <li>
                        <a href="#" class="afooter" id="insta">
                            <MudIcon Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large" Title="Instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="afooter" id="face">
                            <MudIcon Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" Title="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="afooter" id="youtu">
                            <MudIcon Icon="@Icons.Custom.Brands.YouTube" Size="Size.Large" Title="Youtube" />
                        </a>
                    </li>
                    <li><a href="#" class="afooter" id="linke">
                        <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" Title="LinkedIn" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <p>Parque tecnológico UIS Guatiguará</p>
                <p class="pfooter">Laboratorios - Km 2 vía Regufio, Piedecuesta</p>
                <p class="pfooter">Fijo: (+57) 607 6542266</p>
                <p class="pfooter">Tel: (+57) 3102074550 / 3105501140</p>
                <p class="pfooter">servicioalcliente@cdtdegas.com</p>
            </div>
        </div>
    </div>
</footer>

<style>
    .afooter {
        text-decoration: none;
        color: silver;
        font-style: italic;
    }
    .afooter:hover {
        color: forestgreen;
    }
    .h5footer {
        font-style: italic;
    }
    .pfooter{
        margin-top: -18px;
    }
    .social-icons {
        display: flex;
        justify-content: center; /* Centra los íconos horizontalmente */
        gap: 1rem; /* Espacio entre íconos */
        padding: 0;
    }
    .social-icons li {
        display: inline;
    }
    .social-icons a {
        color: silver; /* Color de los íconos */
        text-decoration: none; /* Quita el subrayado de los enlaces */
    }
    #insta:hover{
        color: lightcoral;
    }
    #face:hover {
        color: steelblue;
    }
    #youtu:hover {
        color: firebrick;
    }
    #linke:hover {
        color: aliceblue;
    }
</style>
